h1{
    color: aliceblue;
    background-color: black;
    text-align: center;
}
a{
    text-decoration: none;
}
.tren_mot_hang{
    width: 100%;
    display:inline-block ;
}
.ben_trai{
    float: left;
    width: 50%;
    height: 500px;
    background-color: lightgoldenrodyellow;
}
.ben_phai{
    color: blue;
    float: right;
    width: 50%;
    height: 500px;

}